//Custom variables

// Descriptive color variables

$color-red: #d41217;
$color-green: #8db524;
$color-purple: #8961a6;
$color-orange: #f39332;
$color-blue: #41bfed;
$color-dark-gray: #7b858a;
$color-medium-gray: #c8c8ca;
$color-light-gray: #e7e8e8;

// Functional color variables

// Font stacks

// Asset paths
$path-image   :   '../img';
$path-fonts     :  '../fonts';

