#footer {
  @include media-breakpoint-up(md) {
    padding: 40px 80px;
    hr.footer {
      margin-top: 38px;
      margin-bottom: 30px;
    }
  }
  @include media-breakpoint-down(md) {
    padding: 40px 15px;
    img.logo {
      max-width: 125px;
    }
    hr.footer {
      margin-top: 21px;
      margin-bottom: 32px;
    }
    hr.socket {
      margin-top: 0;
      margin-bottom: 15px;
    }
  }
  background-color: rgba(212, 18, 23, 0.05);
  h4 {
    color: $color-red;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    @include media-breakpoint-up(md) {
      margin-bottom: 29px;
    }
  }
  .socket {
    p {
      font-weight: normal;
      font-size: 14px;
      @include media-breakpoint-down(md) {
        margin-bottom: 5px;
      }
    }
    .h6, .h6 a { color: $color-red; }
  }
}